* {
    box-sizing: border-box;
}    

body {
    margin: 0;
    background: no-repeat center center fixed; 
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-shadow: 0px 0px 20px #242424;
}

main {
    padding: 15px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Centers vertically */
    align-items: center; /* Centers horizontally */
    position: relative;
}

div.top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 15px;
}

h1.time {
    text-align: center;
    font-size: 5rem;
}

/* For the container holding all crypto data */
div#crypto-top {
    display: flex;
    flex-direction: row;
    gap: 10px; 
    align-items: flex-start;
    justify-content: flex-start;
}

.crypto-div {
    display: flex;
    flex-direction: column;
    background-color: rgba(71, 71, 71, 0.2);
    padding: 5px; 
    border-radius: 5px; 
    min-width: 100px; 
    text-align: start;
    font-size: 0.8rem; 
    
}

.crypto-div img {
    width: 25px; 
    height: 25px;
    margin-bottom: 5px; 
}

.crypto-div span, .crypto-div p {
    margin: 3px 0; 
    font-size: 0.9rem; 
}

div#weather {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-self: flex-start;
    margin-top: -20px;
}

div#weather > img {
    width: 70px;
}

p.weather-city {
    width: 100%;
    text-align: right;
    margin: 0;
    margin-top: -10px;
    font-size: 1.2rem;
}

p.weather-temp {
    margin: 0;
    font-size: 1.7rem;
    margin-left: -10px;
}

/* Bottom-right news feed */
.bottom-right {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 0.9rem;
    max-width: 30%;
    max-height: 50vh; /* Limit height to 50% of the viewport */
    overflow-y: auto; /* Enable vertical scrolling */
    padding: 20px;
    background: rgba(255, 255, 255, 0.2); /* Semi-transparent background */
    -webkit-backdrop-filter: blur(10px); /* Apply blur to the background */
    backdrop-filter: blur(10px); /* Apply blur to the background */
    border-radius: 10px; /* Rounded corners */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle border */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    color: white;
}

/* news feed links */
.bottom-right a {
    color: #00e1ff;
    text-decoration: none;
}

.bottom-right a:hover {
    text-decoration: underline;
}
/* Hide scrollbar for news feed */
.bottom-right::-webkit-scrollbar{
    display: none;
}

/* Bottom-left styling for photographer */
.bottom-left {
    position: absolute;
    bottom: 10px;
    left: 15px;
    font-size: 1rem;
    color: white; /* Text color */
    font-family: Arial, sans-serif;
    z-index: 10; /* Make sure it stays above background images */
}
